.App {
 margin : 0;
 font-family: 'Montserrat', sans-serif;
}

.App-header{
  margin: 0;
  padding: 10px;
  width: 100%;
  color: #F5F0BB;
  background-color:#73A9AD;
  text-align: center;
  position: fixed;
  z-index: 2;
  font-size: 70px;

}

.movie-list{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 200vh;
  align-items: center;
  margin-left: 25%;
  /* background-color: azure; */

}

